1. 판다스로 생성 할수 있는 두객체의 이름은?
- 1차원 객체인 시리얼과, 2차원 객체인 데이터프레임이 있다.

2. 아래의 결과값을 예측하시고, 에러가 나는 부분은 왜 에러가 나는지 설명하고 수정하시오.
```python
s = pd.Series(data = [1000,2000,"3000"],index = ["메로나","구구콘",-1])
print(s)


print(s.iloc[0]) # 1
print(s.iloc[1]) # 2
print(s.iloc[2]) # 3
print(s.iloc[-1]) # 4

print(s.loc["메로나"]) # 5
print(s.loc["구구콘"]) # 6
print(s.loc["하겐다즈"]) # 7
```
- [1 : 1000], [2 : 2000],[3 : 3000],[4 : 3000],[5 : 1000],[6 : 2000]
- [7 : 에러발생] 원인으로는 "하겐다즈" 값을 가지는 인덱스가 없음.
호출 인덱스명을 -1로 변경하거나 "하겐다즈" 인덱스를 가지는 값을 새로 설정해줘야함.
```python
print(s.loc[-1]) # 3000
```
3. 아래의 결과를 예측하고 그 결과를 설명하시오.
```python
import numpy as np

arr1 = np.array([1, 2, 3])
arr2 = np.array([
                    [1],
                    [2],
                    [3]
                ])

print(arr2.shape) # 1

result = arr1 + arr2
print(result) # 2
```
- 1 : (1,3)
- 2 : [ [2 3 4]
        [3 4 5]
        [4 5 6]]
- arr1은 (1x3) 배열이고 arr2는 (3x1) 배열이기때문에 브로드캐스팅의 조건이 만족됨.
4. 넘파이에서 브로드 캐스팅에 대한 개념과 브로드 캐스팅이 일어 나는 조건은?
- numpy배열간의 연산을 진행할때 서로 다른 크기의 배열을 자동으로 확장하여 연산하는 기능.
- 1. 상수일 경우.
   ex) (3x3) + 5
- 2. 1차원 배열이고 행이나 열이고 동일할 경우.
   ex) (3x3) + (3x1) or (1x3) 
- 3. 단일행과 단일열일경우.
   ex) (1x3) + (3x1)
- database
5. emp 테이블에서 ename(사원이름)의 두번째 문자가 'A'인 사원의 이름을 출력한다면?
```sql
select ENAME from EMP where ename like "_A%";
select ENAME from EMP where substr(ename,2,1) = "A";
```
6. mgr 가 null 이면 없음으로 출력하시오.
```sql
select IFNULL(MGR, "없음") from EMP;
```
7. EMP 테이블에서 사원이름이 5자 이상인 사원들의 사번과 이름을 출력해보세요
```sql
select EMPNO,ENAME from EMP where length(ename) > 5;
```
8. 급여가 1000과 2000 사이인 사원들의 사원번호, 이름, 급여를 출력.
```sql
select EMPNO,ENAME,SAL from EMP where sal between 1000 and 2000;
```
9. 커미션이 NULL인 사원의 사원이름과 커미션을 출력
```sql
select ENAME, COME from EMP where comm is null;
```
10. 입사년도가 81년인 사원들의 입사일과 사원번호를 출력
```sql
select HIREDATE, EMPNO from EMP where hiredate like "1981%";
```

세줄요약:
1. 넘파이에서 브로드캐스팅이 일어나는 케이스를 잘 이해 하자.
2. 판다스란 = 시리즈 + 데이터프레임 이다.
3. 오라클 = nvl함수이고 이고 mysql은 ifnull 이다.