판다스(numpy기반). 모듈 이름
 - 시리얼 (1차원)
 - 데이터 프레임 (2차원)

In [2]:
# 판다스의 이해
# 판다스 = 데이터프레임, 시리얼
import pandas as pd

# 시리즈 객체생성
s = pd.Series([10,20,30])
print(s)

s = pd.Series(["고가","시가"])
print(s)

s = pd.Series(["삼성",81000])
print(s) # 문자형 데이터로 통합

0    10
1    20
2    30
dtype: int64
0    고가
1    시가
dtype: object
0       삼성
1    81000
dtype: object

In [15]:
#인덱스

s = pd.Series([1000,2000,3000])
print(s.index) # 인덱스를 확인하는 객체
print(s.values) # 넘파이로 반환
print(s.index.to_list()) # 0 1 2 =>

s.index = ["메로나","구구콘","하겐다즈"]
print(s)

# 값과 인덱스값 직접 할당
ss= pd.Series([1000,2000,3000],["메로나","구구콘","하겐다즈"])
print(ss)

# 키워드로 할당
sss= pd.Series(index = [1000,2000,3000],data =["메로나","구구콘","하겐다즈"])
print(sss)

RangeIndex(start=0, stop=3, step=1)
[1000 2000 3000]
[0, 1, 2]
메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64
메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64
1000     메로나
2000     구구콘
3000    하겐다즈
dtype: object

In [20]:
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800,
    "2019-05-28" : 42550,
    "2019-05-27" : 42650
}

s_samsung = pd.Series(data)
print(s_samsung)
print(s_samsung.values)
print(s_samsung.index.to_list())

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64
[42500 42550 41800 42550 42650]
['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

In [30]:
# Read 인덱싱

s = pd.Series([1000,2000,3000])

s= pd.Series(data = [1000,2000,3000],index = ["메로나","구구콘","하겐다즈"])


# iloc는 행번호로 접근
print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])

# loc는 인덱스로 접근
print(s.loc["메로나"])
print(s.loc["구구콘"])
print(s.loc["하겐다즈"])
#print(s.loc[-1]) 에러발생

1000
2000
3000
3000
1000
2000
3000

판다스의 구성.
iloc = 행번호로 인덱싱 접근
loc = index로 인덱싱 접근
```py
#행번호    index           data
# 0      ["메로나",       [1000
# 1       "구구콘",       ,2000
# 2       "하겐다즈"]     ,3000]
 ```

In [35]:
# Read 슬라이싱
# 슬라이싱으로 값을 호출하게 되면 시리즈 객체로 리턴됨.
# 값을 두개 이상으로 반환하게 될땐 객체로 반환함.

s= pd.Series(data = [1000,2000,3000],index = ["메로나","구구콘","하겐다즈"])

print(s.iloc[0:2])
print(s.loc["메로나":"구구콘"])

indice = ["메로나","하겐다즈"]
print(s.loc[indice])

메로나    1000
구구콘    2000
dtype: int64
메로나    1000
구구콘    2000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [74]:
# 수정/추가/삭제
s= pd.Series(data = [1000,2000,3000],index = ["메로나","구구콘","하겐다즈"])

# 수정
s.loc['메로나'] = 500 
print(s['메로나'])

s.iloc[0] = 1000 # 행번호 접근
print(s.iloc[0])

# 추가 = 딕셔너리와 유사
s.loc['비비빅'] = 500
print(s)

500
1000
메로나     1000
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

In [75]:
# 삭제
s= pd.Series(data = [1000,2000,3000],index = ["메로나","구구콘","하겐다즈"])


s.drop('메로나') # 반환될 변수를 할당하지 않으면 원본은 유지
print(s['메로나'])

a = s.drop('메로나') # 변수 할당
print(a)

s.drop('메로나',inplace=True) # inplace=True 설정하면 원본수정.
print(s)

1000
구구콘     2000
하겐다즈    3000
dtype: int64
구구콘     2000
하겐다즈    3000
dtype: int64

In [79]:
#시리즈 연산 = 넘파이와 동일하게 브로드캐스팅이 적용되며, 
#같은 인덱스를 갖는 데이터끼리 연산을 수행

s_1 = pd.Series([10,20,30],index = ['NAVER','SKT','KT'])
s_2 = pd.Series([10,30,20],index = ['SKT','KT','NAVER'])

# 덧셈

print(s_1 +s_2)

# 뺄셈

print(s_1 -s_2)

# 브로드캐스팅
print(s_1 - 10)

KT       60
NAVER    30
SKT      30
dtype: int64
KT        0
NAVER   -10
SKT      10
dtype: int64
NAVER     0
SKT      10
KT       20
dtype: int64

In [32]:
# 삼성전자 5일 주가

high = pd.Series([42800, 42700, 42050, 42950, 43000])
low = pd.Series([42150, 42150, 41300, 42150, 42350])

s_diff = high - low
print(s_diff)

print(s_diff.max())
print(s_diff.min())

print(s_diff.mean()) # 평균
print(s_diff.median()) # 중간값
print(s_diff.var()) # 분산
print(s_diff.std()) # 표준편차

s_diff.cumprod()# 누적곱

0    650
1    550
2    750
3    800
4    650
dtype: int64
800
550
680.0
650.0
9500.0
97.46794344808964

0                650
1             357500
2          268125000
3       214500000000
4    139425000000000
dtype: int64

In [80]:
import pandas as pd
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = pd.Series(data)
print(s)

print(s.unique()) # 넘파이로 리턴

s.value_counts() # 시리즈로 리턴

삼성전자     전기,전자
LG전자     전기,전자
현대차       운수장비
NAVER     서비스업
카카오       서비스업
dtype: object
['전기,전자' '운수장비' '서비스업']

전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64

In [14]:
# 시리즈 Map
# 시리즈를 사용하다 보면 시리즈가 지원하는
# 기본연산 이외에도 복잡한 형태의 사용자 정의 코드를 적용하고 싶은 경우

s = pd.Series(['1,234','5,678','9,876'])

#print(int(s))
def remove_comma(x):
    print(x,'in functinon')
    return int(x.replace(",",""))

result = s.map(remove_comma)
print(result)

print(result.sum())

1,234 in functinon
5,678 in functinon
9,876 in functinon
0    1234
1    5678
2    9876
dtype: int64
16788

In [15]:
s=pd.Series([1234,5678,9876])
def big_small(x):
    if x > 5000:
        x= "크다"
    else:
        x= "작다"
    return x
print(s.map(big_small))

0    작다
1    크다
2    크다
dtype: object

In [23]:
# 시리즈 필터링 = 불리언 indexing으로 처리하는 경우가 많다.

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

s = pd.Series(data=data, index=index)

cond = s > 42000 #
print(cond)
print(s[cond]) # 불리언 indexing

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool
2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [81]:
s=pd.Series([1234,5678,9876])
a = s>5000
print(a)
print(s[a])

0    False
1     True
2     True
dtype: bool
1    5678
2    9876
dtype: int64

In [26]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = pd.Series(data=open, index=index)
close = pd.Series(data=close, index=index)

# 종가가 시가보다 높을때만 출력

print(close[close>open])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [85]:
# 정렬및 순위
data = [4, 3, 7, 1]
index = ['ㄱ', 'ㄴ', 'ㄷ', 'ㄹ']
s = pd.Series(data=data, index=index)
print(s)

# 정렬
s1 = s.sort_values()
print(s1)
# 내림차순으로 정렬
s1 = s.sort_values(ascending=False)
print(s1)

s2 = s.sort_index(ascending=False)
print(s2)

ㄱ    4
ㄴ    3
ㄷ    7
ㄹ    1
dtype: int64
ㄹ    1
ㄴ    3
ㄱ    4
ㄷ    7
dtype: int64
ㄷ    7
ㄱ    4
ㄴ    3
ㄹ    1
dtype: int64
ㄹ    1
ㄷ    7
ㄴ    3
ㄱ    4
dtype: int64

In [82]:
# 순위 
data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = pd.Series(data=data, index=index)

print(s.rank())

#내림차순 순위
print(s.rank(ascending=False))

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64
000010    3.0
000020    4.0
000030    1.0
000040    2.0
dtype: float64

In [86]:
# 데이터 프레임

# 칼럼 단위로 데이터 표현
# 데이터와 칼럼은 딕셔너리
data = {
    '시가':[1,2,3],
    '고가':[4,5,6],
    '저가':[7,8,9],
    '종가':[8,7,6],
}
# 인덱스는 리스트로
index = ['삼성전자', '카카오', '네이버']

df_stock = pd.DataFrame(data, index)
print(df_stock)

# 로우 단위로 생성
data = [
    [1,2,3,4],
    [5,6,7,8],
    [9,8,7,6],
    ]
column=['시가','고가','저가','종가']
index = ['삼성전자', '카카오', '네이버']

df_stock = pd.DataFrame(data=data, columns=column, index=index)
print(df_stock)

# 로우단위를 딕셔너리로 표현하여 생성
data2 =[
    {"시가":1, "고가":2, "저가":3, "종가":4},
    {"시가":5, "고가":6, "저가":7, "종가":8},
    {"시가":9, "고가":8, "저가":7, "종가":6}
]
index = ['삼성전자', '카카오', '네이버']
df_stock = pd.DataFrame(data2, index)
print(df_stock)

      시가  고가  저가  종가
삼성전자   1   4   7   8
카카오    2   5   8   7
네이버    3   6   9   6
      시가  고가  저가  종가
삼성전자   1   2   3   4
카카오    5   6   7   8
네이버    9   8   7   6
      시가  고가  저가  종가
삼성전자   1   2   3   4
카카오    5   6   7   8
네이버    9   8   7   6

In [55]:
data = [
    {"나이":35,"직책":"과장"},
    {"나이":30,"직책":"대리"},
    {"나이":28,"직책":"대리"}
]
index = ['김은수','박정민','이하나']

info_df = pd.DataFrame(data,index)
print(info_df)

data = [
    [35,'과장'],
    [30,'대리'],
    [28,'대리'],
    ]
column=['나이','직책']
index = ['김은수', '박정민', '이하나']

df_info = pd.DataFrame(data=data, columns=column, index=index)
print(df_info)

data = {
    "나이" :[35,30,28],
    "직책" :['과장','대리','대리']
}
index = ['김은수','박정민','이하나']
df_a =pd.DataFrame(data,index)
print(df_a)

     나이  직책
김은수  35  과장
박정민  30  대리
이하나  28  대리
     나이  직책
김은수  35  과장
박정민  30  대리
이하나  28  대리
     나이  직책
김은수  35  과장
박정민  30  대리
이하나  28  대리

In [60]:
# 데이터 프레임 전체적인 개괄요약 함수
df_a.info()
df_a.describe() # 수치형 데이터
df_a.shape

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 김은수 to 이하나
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   나이      3 non-null      int64
 1   직책      3 non-null      object
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes

(3, 2)

In [88]:
# 인덱싱 (특정데이터 선택) / 슬라이싱
import pandas as pd

#고객 데이터를 담은 딕셔너리 생성
data = {
    "이름": ["뽀로로", "짱구", "희동"],
    "나이": [25, 132, 69],
    "도시": ["서울", "부산", "대구"]
}

#딕셔너리를 사용해 데이터프레임 생성
df = pd.DataFrame(data)

#데이터프레임 출력
print(df)

#도시 열 선택
column_data = df["도시"]
print(column_data) # 시리즈로 리턴됨

# 도시 이름 두개를 선택
column_data = df[["도시","이름"]]
print(column_data) # 데이터프레임으로 리턴됨

# 행선택

df.head() # 위에서 5개
df.tail() # 밑에서 5개

df.head(10) # 위에서 10개
df.tail(10) # 밑에서 10개

row = df.loc[0] # 시리즈로 리턴됨
row

    이름   나이  도시
0  뽀로로   25  서울
1   짱구  132  부산
2   희동   69  대구
0    서울
1    부산
2    대구
Name: 도시, dtype: object
   도시   이름
0  서울  뽀로로
1  부산   짱구
2  대구   희동

이름    뽀로로
나이     25
도시     서울
Name: 0, dtype: object