- 깊은복사 ,얕은복사

In [24]:
#깊(deep copy), 얕(shallow copy)

#그전에

a = 1000
b = 1000

print(a == b) # 값 비교
print(a is b) # 주소 비교 (256까지는 주소가 같음)

print(id(a))
print(id(b))

True
False
1618586587440
1618586595248

In [26]:
#
a = 0
b = 0

while a is b:
    print(a)
    a+=1
    b+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256

In [28]:
r1 = [1,2,3]
r2 = [1,2,3]

print(r1 == r2) #true
print(r1 is r2) #false

True
False

In [1]:
r1 = [1,[2,3]] 
r2 = r1 # 참조하는 객체가 같다.

print(r1 == r2) #true
print(r1 is r2) #true

r1.append(4) #1에 추가하도 추가된다.
print(r1)
print(r2)
r2.append("홍길동") #2에서 추가해도 추가가 된다.
print(r1)
print(r2)

True
True
[1, [2, 3], 4]
[1, [2, 3], 4]
[1, [2, 3], 4, '홍길동']
[1, [2, 3], 4, '홍길동']

In [78]:
#문법으로 
#['John',('man','USA'),[175,23]]
r1 = ['John',('man','USA'),[175,23]]

#r1의 내용으로 새로운 리스트를 만듦
#제일 바같쪽에 있는 리스트는 새로 생성하지만, 안에 있는 값(주소값)을 그대로 복사(새로생성 하지 않음)
#shllow(얕은복사) 라고 표현함
r2 = list(r1)

print(r1 is r2)
print(r1 == r2)
print(r1)
print(r2)
print(r1[0])
r1[2][0] = 180
print(r1) #['John', ('man', 'USA'), [180, 23]]
print(r2) #['John', ('man', 'USA'), [180, 23]]

False
True
['John', ('man', 'USA'), [175, 23]]
['John', ('man', 'USA'), [175, 23]]
John
['John', ('man', 'USA'), [180, 23]]
['John', ('man', 'USA'), [180, 23]]

r1 과 r2 는 주소가 다르다
r1 의 값을 변경한다.
r2 의 값도 변경이 됐다.

리스트는 객체의 주소를 담고 있다.

In [73]:
s1 = [[1],[2]]
#가장 밖의 괄호 주소는 변경되지만 내용의 괄호주소는 유지된다.
# shllow (얕은 복사) 라고 표현됨.
s2 = list(s1) 
print(s1,s2)
s1[0][0] = 3
print(s1,s2)
print(id(s1[0][0]))

[[1], [2]] [[1], [2]]
[[3], [2]] [[3], [2]]
1618510741776

In [63]:
s1 = [1,2,3]
s2 = list(s1) # [1,2,3] => 복사해서 새로 주소생성 후 저장.
s1 is s2

False

In [64]:
s1 = {1,1,2,2}
s2= set(s1)
s1 is s2

False

In [81]:
import copy #deepcopy 함수 호출 copy 모듈

john =['John',('man','USA'),[175,23]]

tom = list(john) #얕은 복사
chulsu = copy.copy(john) #얕은 복사
younghee = copy.deepcopy(john) #깊은 복사

john[2][1] += 1

print(john)
print(tom)
print(chulsu)
print(younghee)

['John', ('man', 'USA'), [175, 24]]
['John', ('man', 'USA'), [175, 24]]
['John', ('man', 'USA'), [175, 24]]
['John', ('man', 'USA'), [175, 23]]

면접 질문이 들어오면 직접 해본 경험을 같이 이야기하면 좋다.

얕은 복사 = 가장 밖에 있는 주소는 새로생성, 안에 있는 값(주소)들은 그대로 복사.
-껍데기만 새로 생성

깊은 복사 = 안에 있는 값까지 새로 생성