In [23]:
#튜플

lst = [1,2,3] # 수정 가능
tpl = (1,2,3) # 수정 불가
print(type(lst),type(tpl))

<class 'list'> <class 'tuple'>

In [28]:
frns_list =[['동수',1],['진우',2],['선영',3]]

frns_tuple = [('동수',1),('진우',2),('선영',3)]

type(frns_list) #리스트
type(frns_tuple) #리스트

frns_list[0][0] = "철수" #값을 수정


print(frns_list[0][0]) #(첫번째 리스트의 첫번째 값)동수
print(frns_list[1][1]) #(두번째 리스트의 두번째 값)2

# frns_tuple[0][0] = "철수" 
# 값을 수정불가. 오류가 생깁니다.
frns_tuple[0] = ("철수",1) # 첫번째부분은 리스트타입으로 수정가능

print(frns_tuple[0][0])
print(frns_tuple[1][1])

철수
2
철수
2

In [53]:
frns_tuple =(['동수',1],['진우',2],['선영',3])

print(frns_tuple.index(["진우",2]))
print(frns_tuple.count(list))

tpl = (1,2,3)
print(tpl)

1
0
(1, 2, 3)

In [40]:

def total (kor,eng,mat):
    return "총점은",kor+eng+mat
def avg (kor,eng,mat):
    print("평균은",(kor+eng+mat)/3)
    return (kor+eng+mat)/3
def grade(avg):
    int(avg)

    if avg > 90:
        print("수입니다.")
    elif avg > 80:
        print("우입니다.")
    elif avg > 70:
        print("미입니다.")
    elif avg > 60:
        print("양입니다.")
    else:
        print("가입니다.")
print(total(90,90,90)) # 270
print(avg(90,90,90)) # 90
print(grade(avg(80,80,80))) # 우 입니다.

('총점은', 270)
평균은 90.0
90.0
평균은 80.0
미입니다.
None

In [62]:
# 3개의 수에 대한 최대값

a , b , c = 20, 10, 30 #복수 할당
'''
max = a

if b > a:
    max = b

if c > max:
    max = c

print(max)

del max
max(a,b,c) # max함수 사용
'''

30

30

In [75]:
a = range(1,10)
print(type(a))
9 in a
10 not in a

<class 'range'>

True

In [78]:
# 튜플 리스트 형변환
# 튜플 형변환 tuple()
# 리스트 형변환 list()

a = list ((1,2,3)) #[1,2,3]
print(a)
a = list(range(1,5)) #[1,2,3,4]
print(a)
a = list("Hello") # ['H','e','l',' l', 'o']
print(a)


a = tuple ([1,2,3]) #(1,2,3)
print(a)
a = tuple (range(1,5)) #(1,2,3,4)
print(a)
a = tuple ("Hello") # ('H','e','l',' l', 'o')
print(a)

[1, 2, 3]
[1, 2, 3, 4]
['H', 'e', 'l', 'l', 'o']
(1, 2, 3)
(1, 2, 3, 4)
('H', 'e', 'l', 'l', 'o')

In [91]:
list(range(1,10))
list(range(10))
list(range(1,10,2)) # 1 <= x > 10 

list(range(10,2,-1)) # 10 부터 3 까지 1씩 감소 10 >= x > 2
list(range(10,2,-2)) # 10 부터 3 까지 2씩 감소 10 >= x > 2
list(range(10,2,-3)) # 10 부터 3 까지 3씩 감소 10 >= x > 2
#[10,8,6,4]
#[10,7,4]

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

[10, 7, 4]

In [96]:
#my_tuple 이름의 비어있는 튜플을 만들어라

my_tuple=()
type(my_tuple)

# 숫자 1이 저장된 튜플을 생성해라

my_num = (1,) #튜플에 한개의 값을 저장하고 싶으면 값뒤에 쉼표 작성
type(my_num)

tuple

In [100]:
#변수 t 가 ('A','b','c') 튜플을 가리키도록 수정하세요
t =('a','b','c')
print(t)
t= ('A','b','c')
print(t)

#t=(1,2,3)
#t[0] = 'a' 
# 에러가 나는 이유는?
# tuple은 immutable 이기 때문입니다.

('a', 'b', 'c')
('A', 'b', 'c')

함수
파라미터를 설정할때 직관적으로 작성

end = '' : 는 print작성시 문장의 끝을 사용자가 지정할 수 있다.
sep = '' : 는 print작성시 쉼표자리에 들어갈것을 사용자가 지정할 수 있다.

In [108]:
print(1,2,3, sep='_')
print(1,2,3, sep='_',end='@@@')

1_2_3
1_2_3@@@

In [105]:
def who_are_you(name, age):
    print("이름은 %s입니다"%name)
    print("나이는 %d살 입니다."%age)

who_are_you(age = 20, name="홍길삼") 
#함수 호출시 파라미터와 값을 같이 작성하면 작성 순서와 상관이 없습니다.
who_are_you( "홍길삼", 20)

이름은 홍길삼입니다
나이는 20살 입니다.
이름은 홍길삼입니다
나이는 20살 입니다.

In [109]:
def who_are_you(name, age =0):
    print("이름은 %s입니다"%name)
    print("나이는 %d살 입니다."%age)

who_are_you("김")
who_are_you("박",10002)

이름은 김입니다
나이는 0살 입니다.
이름은 박입니다
나이는 10002살 입니다.

In [113]:
def func(s): #수정이 가능한 데이터 타입인 리스트만 적용이 가능한 함수.
    s[0] = 0
    s[-1] = 0

st = [1,2,3]
func(st)
print(st)

[0, 2, 0]

In [1]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]